body {
	background-image: url("website_background-2.png");
	background-size: cover;
	/*background-position: center;*/
	color: white;
}

h1 {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

div {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	/*column-count: 3;*/
	text-align: center;
	/*align-items: center;*/
}

/*h2.year {
	grid-column: span 1/-1;
	column-span: all;
}*/

h2 {
	/*column-span: all;*/
	/*column-count: 3;*/
	/*column-span: 3;*/
	/*column-span: 1/-1;*/
	grid-column: span 1/-1;
	/*align-self: center;*/
	/*text-align: center;*/
	/*justify-self: center;*/
	/*display:grid;
	justify-items: center;*/
	/*align-self: center;
	align-items: center;*/
	/*justify-self: center;*/
}

a {
	color: white;
}