body {
	background-image: url("website_background-2.png");
	background-size: cover;
	/* contain seems to do a grid */
	/* was set to cover*/
	/*background-position: center;*/
	color: white;
}

iframe {
	border: none;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

div.text {
	background-color: rgba(0,0,0,.50);
}
/* for text background, modify the content window to have background color, but change the opacity so it doesn't completely block, just makes it easier to read?
also need to make image scale with page better and keep sticky? so it doesn't keep repeating? */

div.robots_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	text-shadow: 2px 2px #000000;
	background-color: rgba(0,0,0,.3);
}

h3 {
	text-align: center;
}

a {
	color: white;
}

a:hover {
	color: yellow;
}